body {
    font-family: 'Inconsolata', monospace;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-color: black;
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 18px;
}


.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron .lead {
    font-size: 23px;
}

.jumbotron p {
    margin-bottom: -5px;
    font-size: 18px;
}


.header {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: black;
}

.btn {
    background: none;
    color: white;
    border-radius: 0;
    padding: 5px 20px;
    letter-spacing: 2px;
    transition: 0.25s;
}


.first-section {
    background-color: #f3f3f3;
    padding-top: 2px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
