.header {
    background-color: black;
    color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

body {
    font-family: 'Inconsolata', monospace;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-color: black;
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 18px;
}

.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron .lead {
    font-size: 23px;
    margin-bottom: -5px;
}

.jumbotron p {
    font-size: 18px;
}

.btn {
    background: transparent;
    color: white;
    border-radius: 0;
    padding: 5px 20px;
    letter-spacing: 2px;
    box-shadow: 2px 3px #fff;
}

.btn:hover {
    transform: translate3d(4px, 4px, 0);
    transition: 0.10s;
    box-shadow: none;
}

.first-section {
    background-color: #f3f3f3;
    padding-top: 2px;
}
