.header {
    background-color: #222 !important;
    color: white;
}


body {
    font-family: 'Inconsolata', monospace;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border-color: black;
    background-color: #222 !important;
}

.navbar-default {
    color: white;
}

.navbar-brand {
    padding: 3px 10px; 
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 18px;
}

.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron h1 {
    font-size: 80px;
}


.jumbotron h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.jumbotron p {
    font-size: 18px;
}

.jumbotron .lead {
    font-size: 23px;
    margin-bottom: -5px;
}

.btn {
    color: white;
    border-radius: 0;
    padding: 5px 20px;
    letter-spacing: 2px;
    background: transparent;
    background-color: transparent;
}

.btn:hover {
    color: white;
    box-shadow: none;
    transition: 0.25s;
    box-shadow: 2px 3px #fff;
    background-color: transparent;
    transform: translate3d(-4px, -4px, 0);
}

.first-section {
    background-color: #f3f3f3;
    padding-top: 2px;
}
